<div class="mob-menu" id="mobileMenu">
  <div class="mob-menu-wrapper">
    <div class="mob-menu-header">
      <h2 class="mob-menu-title">yachtjet</h2>
      <svg class="mob-button-icon close-icon" width="28" height="28">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </div>
    <nav class="mob-menu-nav">
      <ul class="mob-navigation-list">
        <li><a class="mob-navigation-list-item" href="">ABOUT</a></li>
        <li><a class="mob-navigation-list-item" href="">YACHTS</a></li>
        <li><a class="mob-navigation-list-item" href="">REVIEWS</a></li>
      </ul>
    </nav>
    <div class="mob-menu-media-icon-container">
      <ul class="mob-menu-social-icon-list">
        <li class="mob-menu-social-icon-list-item">
          <a class="mob-menu-social-icon-link" href="">
            <svg class="mob-menu-social-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="mob-menu-social-icon-list-item">
          <a class="mob-menu-social-icon-link" href="">
            <svg class="mob-menu-social-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="mob-menu-social-icon-list-item">
          <a class="mob-menu-social-icon-link" href="">
            <svg class="mob-menu-social-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
