<section class="our-yachts">
  <div class="container yachts">
    <h2 class="section-title white our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-cards-list">
      <li class="yachts-card">
        <div class="yachts-card-img-container">
          <img
            class="yachts-card-img"
            srcset="/img/img-yaht-1.jpg 1x, /img/img-yaht-1-2x.jpg 2x"
            src="/img/img-yaht-1.jpg"
            width="360"
            alt="Luxary yacht Arrow"
          />
        </div>
        <div class="yachts-card-title">
          <p class="yachts-card-name">Arrow</p>
          <p class="yachts-card-category">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-card-properties-list">
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">LENGTH</p>
            <p class="yachts-card-value">48m(155ft)</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">BUILDER</p>
            <p class="yachts-card-value">Admiral</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">BUILT</p>
            <p class="yachts-card-value">2021</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">GUESTS</p>
            <p class="yachts-card-value">11 in 5 cabins</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">PRICE</p>
            <p class="yachts-card-value">€33,500,000</p>
          </li>
        </ul>
      </li>
      <li class="yachts-card">
        <div class="yachts-card-img-container">
          <img
            class="yachts-card-img"
            srcset="/img/img-yaht-2.jpg 1x, /img/img-yaht-2-2x.jpg 2x"
            src="/img/img-yaht-2.jpg"
            width="360"
            alt="Luxary yacht Bennety"
          />
        </div>
        <div class="yachts-card-title">
          <p class="yachts-card-name">BENETTI OASIS 40M B...</p>
          <p class="yachts-card-category">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-card-properties-list">
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">LENGTH</p>
            <p class="yachts-card-value">41m (133ft)</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">SHIPYARD</p>
            <p class="yachts-card-value">Benetti</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">BUILT</p>
            <p class="yachts-card-value">2025</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">GUESTS</p>
            <p class="yachts-card-value">10 in 5 cabins</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">PRICE</p>
            <p class="yachts-card-value">€23,210,000</p>
          </li>
        </ul>
      </li>
      <li class="yachts-card">
        <div class="yachts-card-img-container">
          <img
            srcset="/img/img-yaht-3.jpg 1x, /img/img-yaht-3-2x.jpg 2x"
            src="/img/img-yaht-3.jpg"
            class="yachts-card-img"
            width="360"
            alt="Luxary yacht Belle Anna"
          />
        </div>
        <div class="yachts-card-title">
          <p class="yachts-card-name">BELLE ANNA</p>
          <p class="yachts-card-category">LUXURY YAHTS</p>
        </div>
        <ul class="yachts-card-properties-list">
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">LENGTH</p>
            <p class="yachts-card-value">50m(155ft)</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">SHIPYARD</p>
            <p class="yachts-card-value">ISA</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">BUILT</p>
            <p class="yachts-card-value">2012</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">GUESTS</p>
            <p class="yachts-card-value">12 in 6 cabins</p>
          </li>
          <li class="yachts-card-properties-item">
            <p class="yachts-card-property">PRICE</p>
            <p class="yachts-card-value">€21,000,000</p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="our-yachts-btn">
      <a class="yachts-btn-link" href="#rent-section">Yacht rental</a>
    </div>
  </div>
</section>
