.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e1823;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  pointer-events: none;
  z-index: 999;
  opacity: 0;
}

.mob-menu.is-open {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 2;
  pointer-events: auto;
  visibility: inherit;
}

.mob-menu-wrapper {
  background-color: #0e1823;
  width: 335px;
  height: calc(100% - 32px);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
  box-sizing: border-box;
}

.mob-menu-header {
  border-radius: 8px;
  width: 295px;
  height: 42px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  background-color: #fbfbfb;
}

.mob-menu-title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #1b414b;
}

.close-icon {
  margin-left: auto;
  fill: #1b414b;
  cursor: pointer;
}

.mob-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob-navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mob-navigation-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 40px;
  background: rgba(27, 65, 75, 0.5);
  border-radius: 8px;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  text-decoration: none;
}

.mob-menu-media-icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 8px;
  cursor: pointer;
}

.mob-menu-social-icon {
  fill: #fbfbfb;
}

.mob-menu-social-icon-list-item {
  display: inline-block;
}
